@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.App {
  text-align: center;

}



.form-group{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#form-profile{
  display: table-cell;
  vertical-align: middle;
}

#wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

footer{
  position:absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

#login-form{
  width: 50%;
  margin: auto;
}

#nav-id{
  margin-bottom: 5%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.bg_imagem{
  background-image: linear-gradient(rgba(2, 4, 7, 0.74), rgba(4, 7, 10, 0.74)), url('http://localhost:3000/acme_f1.gif');
  background-repeat:no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.tela-centro{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
